<div class="row no-gutters">
<h4 class="mt-2 offset-3 bg-light">商品一覧</h4>
</div>

<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-10">


        <div class="row justify-content-end">
          <%= link_to new_admin_item_path do %>
        <i class="fas fa-plus-circle" style="font-size: 40; color: cornflowerblack;"></i>
        </div>
      <% end %>

      <table class="table table-hover table-inveres">
      <thead>
        <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>



        <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item) %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <td><% if item.is_active == true %>
              <p class="text-success">販売中</p>
      　     <% else item.is_active == false %>
      　       <p class="text-secondary" >販売停止中</p>
      　     <% end %>
      　</td>

      　</tr>
      　<% end %>
      </tbody>
      </table>
      <div class="row justify-content-center">
       <div><%= paginate @items %></div>
    　</div>
    </div>
  </div>
</div>
