<div class="row no-gutters">
<h4 class="mt-2 offset-2 bg-light">商品新規登録</h4>
</div>


<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= form_with model: @item,url: admin_items_path,method: :post do |f| %>
      <div class="form-group">
        <div calss="form-inline">
          <div class= "row pt-2">
          <%= f.label :imgae, "商品画像", :class => "col-md-3 col-form-label" %>
          <%= f.file_field :image, accept: "image/*" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div calss="form-inline">
          <div class= "row pt-2">
          <%= f.label :name, "商品名", :class => "col-md-3 col-form-label" %>
          <%= f.text_field :name, :class => "form-control col-md-3", placeholder: "商品名" %>
          </div>
        </div>
      </div>
      
     <div class="form-group">
        <div calss="form-inline">
          <div class="row pt-2">
          <%= f.label :introduction, "商品説明", :class => "col-md-3 col-form-label" %>
          <%= f.text_area :introduction, :class => "form-control col-md-3", placeholder: "ここに説明文を記述します" %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div calss="form-inline">
          <div class="row pt-2">
          <%= f.label :genre, "ジャンル", :class => "col-md-3 col-form-label" %>
          <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div calss="form-inline">
          <div class="row pt-2">
          <%= f.label :price, "税抜価格", :class => "col-md-3 col-form-label" %>
          <%= f.text_field :price, :class => "form-control col-md-3", placeholder: "1000" %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div calss="form-inline">
            <div class="row pt-2">
              <div class="col-md-11">
                <%= f.label :is_active, "販売ステータス", :class => "col-md-3 col-form-label" %>
                <%= f.radio_button :is_active, :true %>
                <%= f.label :is_active_true, "販売中" %>
                <%= f.radio_button :is_active, :false %>
                <%= f.label :is_active_false, "販売停止中" %>
              </div>
            </div>
        </div>
      </div>
      
     <div class="row pt-2 ml-5">
     <%= f.submit '新規登録', class: 'btn btn-success' %>
     <% end %>
     </div>
     
    </div>
  </div>
</div>
