<h4>商品新規登録</h4>

<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= form_with model:@item.new do |f| %>
      <div class="form-group">
        <div calss="form-inline">
          <div class= "row pt-2">
          <label for= "image" class= "col-md-3 col-form-label">商品画像</label>
          <%= f.file_field :image, accept: "image/*" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div calss="form-inline">
          <div class= "row pt-2">
          <label for= "name" class= "col-md-3 col-form-label">商品名</label>
          <%= f.text_field :name, size: "20" %>
          </div>
        </div>
      </div>
     <div class="form-group">
        <div calss="form-inline">
          <div class="row pt-2">
          <label for="introduction" class= "col-md-3 col-form-label">商品説明</label>
          <%= f.text_area :introduction, size: "23x7"%>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div calss="form-inline">
          <div class="row pt-2">
          <label for="introduction" class= "col-md-3 col-form-label">ジャンル</label>
          <%= f.collection_select :item_id, Item.all, :id, :genre %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div calss="form-inline">
          <div class="row pt-2">
          <label for="price" class= "col-md-3 col-form-label">税抜価格</label>
          <%= f.text_field :price %>
          </div>
        </div>
      </div>
     <%= f.submit '新規登録', class: 'btn btn-success' %>
     <% end %>
    </div>
  </div>
</div>
