<div class= "container">
  <div class= "row m-5">
    <div class= "col-9 mx-auto">
      <div class= "card">
        <img src= "https://www.pakutaso.com/shared/img/thumb/PPO_1000maicake_TP_V.jpg" class= "card-img"　alt="ショートケーキ画像" width= "600px" height= "300px">
        <div class= "card-img-overlay">
          <p class= "explanation-text">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class= "row">
    <div class= "offset-2 col-md-9">
      <h3 class= "font-weight-bold my-3">新着商品</h3>
    </div>
  </div>
  <div class= "row">
    <% @items.each do |item| %>
      <div class= "offset-2 col-md-1">
        <%= link_to item_path(item) do %>
          <% if item.image.attached? %>
            <%= image_tag item.image, size: "200x130" %><br>
          <% end %>
        <% end %>
        <%= item.name %><br>
        ¥<%= item.add_tax_price.to_s(:delimited)%>
      </div>
    <% end %>
  </div>
    <p class= "text-right">
      <%= link_to items_path do %>
       全ての商品を見る>
      <% end %>
    </p>
</div>
