<h4>ジャンル一覧･追加</h4>

<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= form_with model: @genre,url: admin_genres_path,method: :post do |f| %>
      <%= f.label :name, "ジャンル名", :class => "col-md-3 col-form-label" %>
      <%= f.text_field :name, :class => "form-control col-md-3" %>
      <%= f.submit '新規登録', class: 'btn btn-success' %>
      <% end %>
       <table class="table table-striped">
         <td>ジャンル</td>
         <% @genres.each do |genre| %>
         <td><%= genre.name %></td>
         <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: 'btn btn-success' %></td>
         <% end %>
       </table>
    </div>
  </div>
</div>