<div class= "container">
  <div class= "row py-4">
    <div class= " offset-1">
      <h4 class= "bg-light">注文履歴一覧</h4>
    </div>
  </div>

  <div class= "row">
    <div class= "offset-1 col-10">
      <table class="table">
        <thead>
          <tr class="table-secondary">
            <th width= "250">購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= link_to admin_order_path(order) do %>
                  <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                <% end %>
              </td>
              <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
              <td><%= order.order_details.sum(:amount) %></td>
              <td><%= order.status_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @orders %>
    </div>
  </div>
</div>
