<div class= "container">
  <div class= "row pt-4">
    <div class= "offset-1"></div>
      <h4 class= "bg-light">注文情報確認</h4>
    </div>
  </div>
</div>

<div class= "container">
  <div class="row my-3">
    <div class="col-8">
      <table border="1">
        <tr height="50">
          <th bgcolor="whitesmoke" width="300">商品名</th>
          <th bgcolor="whitesmoke" width="150">単価(税込)</th>
          <th bgcolor="whitesmoke" width="150">数量</th>
          <th bgcolor="whitesmoke" width="150">小計</th>
        </tr>
        <% @cart_items.each do |cart_item| %>
          <tr height="50">
          <td>
            <% if cart_item.item.image.attached? %>
            <%= image_tag cart_item.item.image, size: "60x40" %>
            <% end %>
            <%= cart_item.item.name %>
          </td>
          <td><%= cart_item.item.add_tax_price %></td>
          <td><%= cart_item.amount %></td>
          <td><%= cart_item.subtotal%></td>
          <% @total += cart_item.subtotal %>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-3">
      <table border="1">
        <tr><th bgcolor="whitesmoke" width="100" height="50">送料</th><td width="100"><%= @order.shipping_cost %></td></tr>
        <tr><th bgcolor="whitesmoke" width="100" height="50">商品合計</th><td width="100"><%= @total %></td></tr>
        <tr><th bgcolor="whitesmoke" width="100" height="50">請求金額</th>
        <td width="100"><% @order.total_payment = @order.shipping_cost + @total %><%= @order.total_payment %></td></tr>
      </table>
    </div>
  </div>
  <div class="row my-5">
    <table>
      <tr><th width="100" height="50">支払方法</th><td><%= @order.payment_method_i18n %></td></tr>
      <tr>
        <th width="100" height="50">お届け先</th>
        <td>
          〒<%= @order.postal_code %>
          <%= @order.address %><br>
          <%= @order.name %>
        </td>
      </tr>
    </table>
  </div>
    <div class="row">
      <div class="col text-center">
    <%= form_with model: @order, url: orders_path, method: :post do |f| %>
          <%= f.hidden_field :customer_id %>
          <%= f.hidden_field :shipping_cost %>
          <%= f.hidden_field :total_payment %>
          <%= f.hidden_field :payment_method %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :address %>
          <%= f.hidden_field :postal_code %>
          <%= f.hidden_field :status %>
          <%= f.submit "注文を確定する", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
</div>