<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <p>注文情報入力</p>
      <%= form_with model: @order do |f| %>
      <p><strong>支払方法</strong></p>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
      <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
      <br>
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
      <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
      <p><strong>お届け先</strong></p>


      <% end %>
