<div class= "container">
  <div class= "row m-5">
    <div class= "offset-1 col-md-5">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: '300x200' %>
      <% end %>
    </div>
    <div class= "col-md-6 mx-auto">
      <table>
        <tr height= "100"><th style= "font-size: 30px;"><%= @item.name %></th></tr>
        <tr><td style= "font-size: 20px;"><%= @item.introduction %></td></tr>
        <tr height= "100"><th style= "font-size: 30px;">¥<%= @item.add_tax_price %>(税込)</th></tr>
      </table>
      <% if @item.is_active == false %>
        販売停止中
      <% else %>
        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f|%>
        <table>
          <tr>
            <th width= "60%">
              <%= f.label :amount, "個数選択"%>
              <%= f.select :amount, *[1..10] %>
              <%= f.hidden_field :item_id, :value => @item.id %>
            </th>
            <td><%= f.submit "カートに入れる", class: "btn btn-success" %></td>
          </tr>
        </table>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
